---
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";

const pageTitle = "Boniface";
---

<Layout pageTitle={pageTitle}>
  <div class="flex justify-center">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <div class="flex flex-row items-center">
    <img
      alt="Boniface's Avatar"
      class="w-24 h-24 rounded-full m-5"
      src="https://avatars.githubusercontent.com/u/70286712?v=4"
    />
  </div>
  <Tag body="FullStack Developer" />
  <Tag body="JPOP Fan" href="/music/" />
  <Tag body="Anime Lover" />
  <Tag body="Gamer" />
  <Tag body="Trader" />
  <Tag body="INTP" />
  <h2 class="underline">About</h2>
  <p class="">喜欢折腾新技术</p>
  <h2 class="">Skills</h2>
  <div class="link-images">
    <h3>Frontend</h3>
    <div class="ml-5">
      <Tag body="Nodejs" />
      <Tag body="Vue" />
      <Tag body="React" />
    </div>
    <h3>Backend</h3>
    <div class="ml-5">
      <Tag body="Java" />
      <Tag body="Rust" />
      <Tag body="MongoDB" />
    </div>
  </div>
  <h2>Interests</h2>
  <p>打游戏(101/瓦/Osu!/雀魂)</p>
  <p>看剧(动漫/日剧/韩剧)</p>
  <p>听歌(很杂)</p>
</Layout>
