---
interface Props {
  url: string;
  image: string;
  title: string;
  body: string;
}

const { url, image, title, body } = Astro.props;
---

<li class="list-none flex bg-auto p-5 hover:scale-105">
  <a
    href={url}
    class="w-full no-underline text-ctp-latte-maroon dark:text-ctp-mocha-maroon leading-normal rounded-lg"
  >
    <div class="text-center">
      <img
        width="226"
        height="127"
        src={image}
        class="rounded-xl"
        alt="ProjectImage"
      />
    </div>
    <h3 class="m-0 text-1.5rem font-normal text-center font-lxgw">
      {title}
    </h3>
    <p class="text-base leading-loose text-center m-2">
      {body}
    </p>
  </a>
</li>
