---
interface Props {
  body: string;
  href?: string; // Optional href property
}

const { body, href } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class="bg-ctp-latte-sapphire dark:bg-ctp-mocha-lavender text-ctp-latte-base dark:text-ctp-mocha-base text-base rounded-md font-lxgw font-semibold px-2 py-1"
    >
      {body}
    </a>
  ) : (
    <small class="bg-ctp-latte-sapphire dark:bg-ctp-mocha-lavender text-ctp-latte-base dark:text-ctp-mocha-base text-base rounded-md font-lxgw font-semibold px-2 py-1">
      {body}
    </small>
  )
}
